@using CarCareTracker.Helper
@inject IConfigHelper config
@{
    var userConfig = config.GetUserConfig(User);
    var hideZero = userConfig.HideZero;
}
@model PlanRecord
<div class="taskCard @(Model.Progress == PlanProgress.Done ? "nodrag" : "") text-dark user-select-none mt-2" draggable="@(Model.Progress == PlanProgress.Done ? "false" : "true")" ondragstart="dragStart(event, @Model.Id)" onclick="@(Model.Progress == PlanProgress.Done ? $"deletePlanRecord({Model.Id}, true)" : $"showEditPlanRecordModal({Model.Id})")" oncontextmenu="@($"showPlanTableContextMenu(this, {Model.Id}, '{Model.Progress}')")" onmouseup="stopEvent()" ontouchstart="detectPlanItemLongTouch(this, @Model.Id, '@Model.Progress')" ontouchend="detectPlanItemTouchEndPremature(this)">
    <div class="card-body">
        <div class="d-flex gap-2 align-items-center">
            @if (Model.Progress == PlanProgress.Done)
            {
                <span class="taskCard-title text-truncate"><s>@Model.Description</s></span>
            } else
            {
                <span class="taskCard-title text-truncate">@Model.Description</span>
            }
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-2">
                @if (Model.ImportMode == ImportMode.ServiceRecord)
                {
                    <span class="badge text-bg-primary planner-indicator"><i class="bi bi-card-checklist text-white"></i></span>
                }
                else if (Model.ImportMode == ImportMode.UpgradeRecord)
                {
                    <span class="badge text-bg-success planner-indicator"><i class="bi bi-wrench-adjustable text-white"></i></span>
                }
                else if (Model.ImportMode == ImportMode.RepairRecord)
                {
                    <span class="badge text-bg-warning planner-indicator"><i class="bi bi-exclamation-octagon text-white"></i></span>
                }
                @if (Model.ReminderRecordId != default)
                {
                    <span class="badge text-bg-light planner-indicator"><i class="bi bi-bell-fill text-warning"></i></span>
                }
                @if (Model.Priority == PlanPriority.Critical)
                {
                    <span class="badge text-bg-danger planner-indicator"><i class="bi bi-fire text-white"></i></span>
                }
                else if (Model.Priority == PlanPriority.Normal)
                {
                    <span class="badge text-bg-primary planner-indicator"><i class="bi bi-water text-white"></i></span>
                }
                else if (Model.Priority == PlanPriority.Low)
                {
                    <span class="badge text-bg-info planner-indicator"><i class="bi bi-snow text-white"></i></span>
                }
            </div>
            <div>
                <span class="text-truncate">@(StaticHelper.HideZeroCost(Model.Cost, hideZero))</span>
            </div>
        </div>
    </div>
</div>