@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@model SupplyRequisitionHistory
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
    var showDelete = Model.RequisitionHistory.All(x => x.Id != default);
    var showPartNumber = Model.RequisitionHistory.Any(x => !string.IsNullOrWhiteSpace(x.PartNumber));
}
<script>
    var supplyUsageHistory = [];
    var deletedSupplyUsageHistory = [];
    function subtractFromCostInput(costToSubtract){
        let costInputId = '@Model.CostInputId';
        let costInput = $(`#${costInputId}`);
        let newCostAmount = globalParseFloat(costInput.val()) - globalParseFloat(costToSubtract);
        if (newCostAmount < 0){
            newCostAmount = 0;
        }
        costInput.val(globalFloatToString(newCostAmount.toFixed(2)));
    }
    function deleteSupplyUsageHistory(supplyId, quantity, cost, supplyRow){
        deletedSupplyUsageHistory.push({
            id: decodeHTMLEntities(supplyId),
            quantity: decodeHTMLEntities(quantity),
            cost: decodeHTMLEntities(cost)
        });
        let supplyIndexToRemove = supplyUsageHistory.findIndex(x=>x.id == decodeHTMLEntities(supplyId) && x.quantity == decodeHTMLEntities(quantity) && x.cost == decodeHTMLEntities(cost));
        if (supplyIndexToRemove > -1){
            supplyUsageHistory.splice(supplyIndexToRemove, 1);
        }
        $(supplyRow).parents(".supply-row").remove();
        //update cost input value
        subtractFromCostInput(decodeHTMLEntities(cost));
    }
</script>
<div id="supplyUsageHistoryModalContainer" class="d-none">
    <div class="modal-header">
        <h5 class="modal-title">@translator.Translate(userLanguage, "Supply Requisition History")</h5>
    </div>
    <div class="modal-body">
        @if (Model.RequisitionHistory.Any())
        {
            <div class="d-flex flex-column">
                @foreach (SupplyUsageHistory usageHistory in Model.RequisitionHistory)
                {
                    <script>
                        supplyUsageHistory.push({ id: decodeHTMLEntities("@usageHistory.Id"), date: decodeHTMLEntities("@usageHistory.Date.ToShortDateString()"), partNumber: decodeHTMLEntities('@usageHistory.PartNumber'), description: decodeHTMLEntities("@usageHistory.Description"), quantity: decodeHTMLEntities("@usageHistory.Quantity.ToString("F")"), cost: decodeHTMLEntities("@usageHistory.Cost.ToString("F")") })
                    </script>
                    <div class="d-flex supply-row p-2 align-items-center border rounded mb-2">
                        <div class="d-flex flex-column flex-grow-1">
                            <small class="text-secondary">
                                @StaticHelper.TruncateStrings(usageHistory.Date.ToShortDateString())
                            </small>
                            <span class="text-wrap pe-2 break-all">
                                @StaticHelper.TruncateStrings(usageHistory.Description, 125)
                            </span>
                            <div class="d-flex flex-row gap-2">
                                @if (!string.IsNullOrWhiteSpace(usageHistory.PartNumber))
                                {
                                    <div class="d-flex flex-column text-truncate">
                                        <small class="text-secondary">@translator.Translate(userLanguage, "Part Number")</small>
                                        <small>@usageHistory.PartNumber</small>
                                    </div>
                                }
                                <div class="d-flex flex-column text-truncate">
                                    <small class="text-secondary">@translator.Translate(userLanguage, "Quantity")</small>
                                    <small>@usageHistory.Quantity.ToString("F")</small>
                                </div>
                                <div class="d-flex flex-column text-truncate">
                                    <small class="text-secondary">@translator.Translate(userLanguage, "Cost")</small>
                                    <small>@usageHistory.Cost.ToString("C2")</small>
                                </div>
                            </div>
                        </div>
                        @if (showDelete)
                        {
                            <button type="button" class="btn btn-danger" onclick="deleteSupplyUsageHistory('@usageHistory.Id.ToString()', '@usageHistory.Quantity.ToString("F")', '@usageHistory.Cost.ToString("F")', this)"><i class="bi bi-trash"></i></button>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h4>@translator.Translate(userLanguage, "No supply requisitions in history")</h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>