@model CollisionRecordInput
<div class="modal-header">
    <h5 class="modal-title">@(Model.Id == 0 ? "Add New Unplanned Maintenance Record" : "Edit Unplanned Maintenance Record")</h5>
    <button type="button" class="btn-close" onclick="hideAddCollisionRecordModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-12">
                    <input type="text" id="workAroundInput" style="height:0px; width:0px; display:none;">
                    <label for="collisionRecordDate">Date</label>
                    <div class="input-group">
                        <input type="text" id="collisionRecordDate" class="form-control" value="@Model.Date">
                        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                    </div>
                    <label for="collisionRecordMileage">Mileage</label>
                    <input type="number" id="collisionRecordMileage" class="form-control" value="@Model.Mileage">
                    <label for="collisionRecordDescription">Description</label>
                    <input type="text" id="collisionRecordDescription" class="form-control" value="@Model.Description">
                    <label for="collisionRecordCost">Cost</label>
                    <input type="number" id="collisionRecordCost" class="form-control" value="@Model.Cost">
                </div>
                <div class="col-md-6 col-12">
                    <label for="collisionRecordNotes">Notes(optional)</label>
                    <textarea id="collisionRecordNotes" class="form-control" rows="5">@Model.Notes</textarea>
                    @if (Model.Files.Any())
                    {
                        <div>
                            <label>Uploaded Documents</label>
                            @foreach (UploadedFiles filesUploaded in Model.Files)
                            {
                                <div class="d-flex justify-content-between">
                                    <a type="button" class="btn btn-link" href="@filesUploaded.Location" target="_blank">@filesUploaded.Name</a>
                                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteCollisionRecordFile('@filesUploaded.Location', this)"><i class="bi bi-trash"></i></button>
                                </div>
                            }
                            <label for="collisionRecordFiles">Upload more documents</label>
                            <input onChange="uploadVehicleFilesAsync(this)" type="file" multiple accept=".png,.jpg,.jpeg,.pdf,.xls,.xlsx,.docx" class="form-control-file" id="collisionRecordFiles">
                        </div>
                    }
                    else
                    {
                        <label for="collisionRecordFiles">Upload documents(optional)</label>
                        <input onChange="uploadVehicleFilesAsync(this)" type="file" multiple accept=".png,.jpg,.jpeg,.pdf,.xls,.xlsx,.docx" class="form-control-file" id="collisionRecordFiles">
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    @if (Model.Id > 0)
    {
        <button type="button" class="btn btn-danger" onclick="deleteCollisionRecord(@Model.Id)" style="margin-right:auto;">Delete</button>
    }
    <button type="button" class="btn btn-secondary" onclick="hideAddCollisionRecordModal()">Cancel</button>
    @if (Model.Id == 0)
    {
        <button type="button" class="btn btn-primary" onclick="saveCollisionRecordToVehicle()">Add New Unplanned Maintenance Record</button>
    }
    else if (Model.Id > 0)
    {
        <button type="button" class="btn btn-primary" onclick="saveCollisionRecordToVehicle(true)">Edit Unplanned Maintenance Record</button>
    }
</div>
<script>
    var uploadedFiles = [];
    getUploadedFilesFromModel();
    function getUploadedFilesFromModel() {
    @foreach (UploadedFiles filesUploaded in Model.Files)
    {
        @:uploadedFiles.push({ name: "@filesUploaded.Name", location: "@filesUploaded.Location" });
    }
        }
    function getCollisionRecordModelData() {
        return { id: @Model.Id}
    }
</script>