@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
<div class="mt-2 mb-2">
    <ul class="list-group">
        <li id="csvExportParameterToggle" class="list-group-item text-center" style="cursor:pointer;" onclick="toggleCSVExportParameters()">
            @translator.Translate(userLanguage, "Advanced Filters")
        </li>
    </ul>
</div>
<h3 class="mb-2 csv-export-parameters d-none">@translator.Translate(userLanguage, "Filter by Tags")</h3>
<div class="text-start csv-export-parameters d-none">
    <select class="form-select mb-2" id="tagSelector">
        <!option value="@TagFilter.Exclude">@translator.Translate(userLanguage, "Exclude Records with these Tags")</!option>
        <!option value="@TagFilter.IncludeOnly">@translator.Translate(userLanguage, "Only Include Records with these Tags")</!option>
    </select>
    <select multiple id="tagSelectorInput"></select>
</div>
<h3 class="mb-2 csv-export-parameters d-none">@translator.Translate(userLanguage, "Filter by Date Range")</h3>
<div class="text-start csv-export-parameters d-none">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="dateRangeSelector">
        <label class="form-check-label" for="dateRangeSelector">@translator.Translate(userLanguage, "Filter by Date Range")</label>
    </div>
    <div class="input-group">
        <span class="input-group-text">@translator.Translate(userLanguage, "From")</span>
        <input type="text" id="dateRangeStartDate" class="form-control" placeholder="@translator.Translate(userLanguage,"Start Date")">
        <span class="input-group-text">@translator.Translate(userLanguage, "To")</span>
        <input type="text" id="dateRangeEndDate" class="form-control" placeholder="@translator.Translate(userLanguage,"End Date")">
    </div>
</div>