@model List<ReminderRecordViewModel>
<div class="row">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center flex-wrap">
            <span class="ms-2 badge bg-success">@($"# of Reminders: {Model.Count()}")</span>
        </div>
        <div>
            <button onclick="showAddReminderModal()" class="btn btn-primary btn-md mt-1 mb-1"><i class="bi bi-pencil-square me-2"></i>Add Repair Record</button>
        </div>
    </div>
</div>
<div class="row vehicleDetailTabContainer">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">Urgency</th>
                    <th scope="col" class="col-2">Metric</th>
                    <th scope="col" class="col-4">Description</th>
                    <th scope="col" class="col-2">Cost</th>
                    <th scope="col" class="col-3">Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ReminderRecordViewModel reminderRecord in Model)
                {
                    <tr class="d-flex" style="cursor:pointer;" onclick="showEditReminderRecordModal(@reminderRecord.Id)">
                        <td class="col-1">@reminderRecord.Urgency.ToString()</td>
                        @if (reminderRecord.Metric == ReminderMetric.Date)
                        {
                            <td class="col-1">@reminderRecord.Date.ToShortDateString()</td>
                        } else if (reminderRecord.Metric == ReminderMetric.Odometer)
                        {
                            <td class="col-1">@reminderRecord.Mileage</td>
                        }
                        <td class="col-4">@reminderRecord.Description</td>
                        <td class="col-3 text-truncate">@reminderRecord.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>