@model List<ServiceRecord>
<div class="row">
    <div class="d-flex flex-row-reverse">
        <div>
            <button onclick="showAddServiceRecordModal()" class="btn btn-primary btn-md mt-1 mb-1"><i class="bi bi-pencil-square"></i>Add Service Record</button>
        </div>
    </div>
</div>
<div class="row vehicleDetailTabContainer">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">Date</th>
                    <th scope="col" class="col-2">Mileage</th>
                    <th scope="col" class="col-4">Description</th>
                    <th scope="col" class="col-2">Cost</th>
                    <th scope="col" class="col-3">Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ServiceRecord serviceRecord in Model)
                {
                    <tr class="d-flex" style="cursor:pointer;" onclick="showEditServiceRecordModal(@serviceRecord.Id)">
                        <td class="col-1">@serviceRecord.Date.ToShortDateString()</td>
                        <td class="col-2">@serviceRecord.Mileage</td>
                        <td class="col-4">@serviceRecord.Description</td>
                        <td class="col-2">@serviceRecord.Cost.ToString("C")</td>
                        <td class="col-3 text-truncate">@serviceRecord.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="serviceRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="serviceRecordModalContent">

        </div>
    </div>
</div>