@model ServiceRecordInput
<div class="modal-header">
    <h5 class="modal-title">@(Model.Id == 0 ? "Add New Service Record" : "Edit Service Record")</h5>
    <button type="button" class="btn-close" onclick="hideAddServiceRecordModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-12">
                    <input type="text" id="workAroundInput" style="height:0px; width:0px; display:none;">
                    <label for="serviceRecordDate">Date</label>
                    <div class="input-group">
                        <input type="text" id="serviceRecordDate" class="form-control" value="@Model.Date">
                        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                    </div>
                    <label for="serviceRecordMileage">Mileage</label>
                    <input type="number" id="serviceRecordMileage" class="form-control" value="@Model.Mileage">
                    <label for="serviceRecordDescription">Description</label>
                    <input type="text" id="serviceRecordDescription" class="form-control" value="@Model.Description">
                    <label for="serviceRecordCost">Cost</label>
                    <input type="number" id="serviceRecordCost" class="form-control" value="@Model.Cost">
                </div>
                <div class="col-md-6 col-12">
                    <label for="serviceRecordNotes">Notes(optional)</label>
                    <textarea id="serviceRecordNotes" class="form-control" rows="5">@Model.Notes</textarea>
                    @if (Model.Files.Any())
                    {
                        <div>
                            <label>Uploaded Documents</label>
                            @foreach (UploadedFiles filesUploaded in Model.Files)
                            {
                                <div class="d-flex justify-content-between">
                                    <a type="button" class="btn btn-link" href="@filesUploaded.Location" target="_blank">@filesUploaded.Name</a>
                                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteServiceRecordFile('@filesUploaded.Location', this)"><i class="bi bi-trash"></i></button>
                                </div>
                            }
                            <label for="serviceRecordFiles">Upload more documents</label>
                            <input onChange="uploadServiceRecordFilesAsync(this)" type="file" multiple accept=".png,.jpg,.jpeg,.pdf,.xls,.xlsx,.docx" class="form-control-file" id="serviceRecordFiles">
                        </div>
                    }
                    else
                    {
                        <label for="serviceRecordFiles">Upload documents(optional)</label>
                        <input onChange="uploadServiceRecordFilesAsync(this)" type="file" multiple accept=".png,.jpg,.jpeg,.pdf,.xls,.xlsx,.docx" class="form-control-file" id="serviceRecordFiles">
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    @if (Model.Id > 0)
    {
        <button type="button" class="btn btn-danger" onclick="deleteServiceRecord(@Model.Id)" style="margin-right:auto;">Delete</button>
    }
    <button type="button" class="btn btn-secondary" onclick="hideAddServiceRecordModal()">Cancel</button>
    @if (Model.Id == 0)
    {
        <button type="button" class="btn btn-primary" onclick="saveServiceRecordToVehicle()">Add New Service Record</button>
    }
    else if (Model.Id > 0)
    {
        <button type="button" class="btn btn-primary" onclick="saveServiceRecordToVehicle(true)">Edit Service Record</button>
    }
</div>
<script>
    var uploadedFiles = [];
    getUploadedFilesFromModel();
    function getUploadedFilesFromModel() {
    @foreach (UploadedFiles filesUploaded in Model.Files)
    {
        @:uploadedFiles.push({ name: "@filesUploaded.Name", location: "@filesUploaded.Location" });
    }
    }
    function getServiceRecordModelData(){
        return {id: @Model.Id}
    }
</script>