@{
    ViewData["Title"] = "LubeLogger - View Vehicle";
}
@model Vehicle
@section Scripts {
    <script src="~/js/vehicle.js" asp-append-version="true"></script>
    <script src="~/js/servicerecord.js" asp-append-version="true"></script>
    <script src="~/js/gasrecord.js" asp-append-version="true"></script>
    <script src="~/js/collisionrecord.js" asp-append-version="true"></script>
    <script src="~/js/taxrecord.js" asp-append-version="true"></script>
    <script src="~/js/reminderrecord.js" asp-append-version="true"></script>
    <script src="~/js/upgraderecord.js" asp-append-version="true"></script>
    <script src="~/lib/chart-js/chart.umd.js"></script>
}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between">
            <button onclick="returnToGarage()" class="btn btn-secondary btn-md mt-1 mb-1"><i class="bi bi-arrow-left-square"></i></button>
            <h1 class="text-truncate display-4">@($"{Model.Year} {Model.Make} {Model.Model}")<small class="text-body-secondary">@($"(#{Model.LicensePlate})")</small></h1>
            <button onclick="editVehicle(@Model.Id)" class="btn btn-warning btn-md mt-1 mb-1"><i class="bi bi-pencil-square"></i></button>
        </div>
    </div>
    <hr />
    <ul class="nav nav-tabs" id="vehicleTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="servicerecord-tab" data-bs-toggle="tab" data-bs-target="#servicerecord-tab-pane" type="button" role="tab" aria-selected="true"><i class="bi bi-card-checklist me-2"></i>Service Records</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="accident-tab" data-bs-toggle="tab" data-bs-target="#accident-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-exclamation-octagon me-2"></i>Repairs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="upgrade-tab" data-bs-toggle="tab" data-bs-target="#upgrade-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-wrench-adjustable me-2"></i>Upgrades</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="gas-tab" data-bs-toggle="tab" data-bs-target="#gas-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-fuel-pump me-2"></i>Fuel</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tax-tab" data-bs-toggle="tab" data-bs-target="#tax-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-currency-dollar me-2"></i>Taxes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-journal-bookmark me-2"></i>Notes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="reminder-tab" data-bs-toggle="tab" data-bs-target="#reminder-tab-pane" type="button" role="tab" aria-selected="false"><div id="reminderBellDiv" style="display:inline-flex;"><i id="reminderBell" class="bi bi-bell me-2"></i></div>Reminders</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-file-bar-graph me-2"></i>Reports</button>
        </li>
        <li class="nav-item dropdown ms-auto" role="presentation">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Manage Vehicle</a>
            <ul class="dropdown-menu">
                <li><button onclick="deleteVehicle(@Model.Id)" class="dropdown-item"><i class="bi bi-trash me-2"></i>Delete Vehicle</button></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content" id="vehicleTabContent">
        <div class="tab-pane fade show active" id="servicerecord-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="gas-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="tax-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="notes-tab-pane" role="tabpanel" tabindex="0">
            <div class="row">
                <div class="col-12">
                    <label for="noteTextArea" class="form-label">This is where you can store notes related to the vehicle such as tire size, oil filter size, oil types, etc.</label>
                    <textarea class="form-control vehicleNoteContainer" id="noteTextArea"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="d-flex flex-row-reverse">
                    <div>
                        <button onclick="saveVehicleNote(@Model.Id)" class="btn btn-primary btn-md mt-1 mb-1"><i class="bi bi-pencil-square"></i>Save Note</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="accident-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="reminder-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="report-tab-pane" role="tabpanel" tabindex="0"></div>
        <div class="tab-pane fade" id="upgrade-tab-pane" role="tabpanel" tabindex="0"></div>
    </div>
</div>
<div class="modal fade" id="editVehicleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="editVehicleModalContent">
        </div>
    </div>
</div>
<div class="modal fade" id="bulkImportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="bulkImportModalContent">
        </div>
    </div>
</div>
<div class="modal fade" id="reminderRecordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="reminderRecordModalContent">
        </div>
    </div>
</div>
<script>
    function GetVehicleId() {
        return { vehicleId: @Model.Id};
    }
</script>