@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userLanguage = config.GetServerLanguage();
}
@model LoginModel
@{
    ViewData["Title"] = "Reset Password";
}
@section Scripts {
    <script src="~/js/login.js?v=@StaticHelper.VersionNumber"></script>
}
<div class="no-top-pad container d-flex align-items-center justify-content-center" style="height:100vh">
    <div>
        <div style="max-width:204px;">
            <img src="@config.GetLogoUrl()" class="lubelogger-logo" />
            <div class="form-group">
                <label for="inputToken">@translator.Translate(userLanguage, "Token")</label>
                <input type="text" id="inputToken" class="form-control" value="@Model.Token">
            </div>
            <div class="form-group">
                <label for="inputUserName">@translator.Translate(userLanguage, "Email Address")</label>
                <input type="text" id="inputEmail" class="form-control" value="@Model.EmailAddress">
            </div>
            <div class="form-group">
                <label for="inputUserPassword">@translator.Translate(userLanguage, "New Password")</label>
                <div class="input-group">
                    <input type="password" id="inputUserPassword" class="form-control" onkeyup="callBackOnEnter(event, performPasswordReset)">
                    <div class="input-group-text">
                        <button type="button" class="btn btn-sm text-secondary password-visible-button" onclick="togglePasswordVisibility(this)"><i class="bi bi-eye"></i></button>
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <button type="button" class="btn btn-warning mt-2" onclick="performPasswordReset()"><i class="bi bi-box-arrow-in-right me-2"></i>@translator.Translate(userLanguage, "Reset Password")</button>
            </div>
            <div class="d-grid">
                <a href="/Login/Index" class="btn btn-link mt-2">@translator.Translate(userLanguage, "Back to Login")</a>
            </div>
        </div>
    </div>
</div>