@model List<Vehicle>

@if (Model.Any())
{
    foreach (Vehicle vehicle in Model)
    {
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="card" onclick="viewVehicle(@vehicle.Id)">
                <img src="@vehicle.ImageLocation" style="height:145px; object-fit:scale-down;" />
                <div class="card-body">
                    <h5 class="card-title text-truncate">@($"{vehicle.Year}")</h5>
                    <h5 class="card-title text-truncate">@($"{vehicle.Make}")</h5>
                    <h5 class="card-title text-truncate">@($"{vehicle.Model}")</h5>
                    <p class="card-text text-truncate">@vehicle.LicensePlate</p>
                </div>
            </div>
        </div>
    }
}
<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4">
    <div class="card" onclick="showAddVehicleModal()" style="height:100%;">
        <img src="/defaults/addnew_vehicle.png" style="object-fit:scale-down;height:100%;" />
    </div>
</div>