@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@model List<APIKey>
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
<div class="modal-header">
    <div class="d-flex align-items-center">
        <h5 class="modal-title">@translator.Translate(userLanguage, "Manage API Keys")</h5>
    </div>
    <div class="d-flex align-items-center ms-auto">
        <button onclick="showCreateApiKeyModal()" class="btn btn-primary">
            <i class="bi bi-pencil-square me-2"></i>@translator.Translate(userLanguage, "Add API Key")
        </button>
        <button type="button" class="btn-close ms-2" onclick="hideUserApiKeyModal()" aria-label="Close"></button>
    </div>
</div>
<div class="modal-body">
    @if (Model.Any())
    {
        <div style="max-height:30vh; overflow-y:auto;">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="d-flex">
                        <th scope="col" class="col-6">@translator.Translate(userLanguage, "Name")</th>
                        <th scope="col" class="col-4">@translator.Translate(userLanguage, "Role")</th>
                        <th scope="col" class="col-2">@translator.Translate(userLanguage, "Remove")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (APIKey viewModel in Model)
                    {
                        <tr class="d-flex">
                            <td class="col-6">@viewModel.Name</td>
                            <td class="col-4">
                                @if (!viewModel.Permissions.Contains(HouseholdPermission.Edit) && !viewModel.Permissions.Contains(HouseholdPermission.Delete))
                                {
                                    @translator.Translate(userLanguage, "Viewer")
                                }
                                else if (viewModel.Permissions.Contains(HouseholdPermission.Edit) && !viewModel.Permissions.Contains(HouseholdPermission.Delete))
                                {
                                    @translator.Translate(userLanguage, "Editor")
                                }
                                else if (viewModel.Permissions.Contains(HouseholdPermission.Edit) && viewModel.Permissions.Contains(HouseholdPermission.Delete))
                                {
                                    @translator.Translate(userLanguage, "Manager")
                                }
                            </td>
                            <td class="col-2">
                                <button type="button" class="btn btn-danger" onclick="deleteApiKey(@viewModel.Id)"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>