@using CarCareTracker.Helper
@model KioskVehicleViewModel
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@if (Model.ServiceRecordCount > 0)
{
    <div class="col-12 col-md-2 flex-grow-1 p-2">
        <div class="border rounded bg-secondary-subtle d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center p-2">
                <span class="lead">@translator.Translate(userLanguage, "Service")</span>
                <div class="d-flex flex-wrap gap-2">
                    <div class="d-flex flex-column text-end">
                        <span>@Model.ServiceRecordCount</span>
                        <small>@translator.Translate(userLanguage, "Records")</small>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <span class="text-success">@Model.ServiceRecordCost.ToString("C0")</span>
                        <small>@translator.Translate(userLanguage, "Total Cost")</small>
                    </div>
                </div>
            </div>
            <hr />
            <div class="d-flex gap-2 flex-row p-2 flex-wrap">
                @if (!string.IsNullOrWhiteSpace(Model.MostCommonServiceRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-primary-subtle">@translator.Translate(userLanguage, "Most Common")</span>
                        </div>
                        <span class="lead">@Model.MostCommonServiceRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Occurrences")</span>
                                <span class="text-primary">@Model.MostCommonServiceRecordOccurrence</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Average Cost")</span>
                                <span class="text-success">@Model.MostCommonServiceRecordAverageCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Last Occurred")</span>
                                <span class="text-secondary">@Model.MostCommonServiceRecordLastOccurred.ToShortDateString()</span>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.MostExpensiveServiceRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-warning-subtle">@translator.Translate(userLanguage, "Most Expensive")</span>
                        </div>
                        <span class="lead">@Model.MostExpensiveServiceRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Cost")</span>
                                <span class="text-success">@Model.MostExpensiveServiceRecordCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Date")</span>
                                <span class="text-secondary">@Model.MostExpensiveServiceRecordDate.ToShortDateString()</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Odometer")</span>
                                <span class="text-secondary">@Model.MostExpensiveServiceRecordOdometer</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.RepairRecordCount > 0)
{
    <div class="col-12 col-md-2 flex-grow-1 p-2">
        <div class="border rounded bg-secondary-subtle d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center p-2">
                <span class="lead">@translator.Translate(userLanguage, "Repairs")</span>
                <div class="d-flex flex-wrap gap-2">
                    <div class="d-flex flex-column text-end">
                        <span>@Model.RepairRecordCount</span>
                        <small>@translator.Translate(userLanguage, "Records")</small>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <span class="text-success">@Model.RepairRecordCost.ToString("C0")</span>
                        <small>@translator.Translate(userLanguage, "Total Cost")</small>
                    </div>
                </div>
            </div>
            <hr />
            <div class="d-flex gap-2 flex-row p-2 flex-wrap">
                @if (!string.IsNullOrWhiteSpace(Model.MostCommonRepairRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-primary-subtle">@translator.Translate(userLanguage, "Most Common")</span>
                        </div>
                        <span class="lead">@Model.MostCommonRepairRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Occurrences")</span>
                                <span class="text-primary">@Model.MostCommonRepairRecordOccurrence</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Average Cost")</span>
                                <span class="text-success">@Model.MostCommonRepairRecordAverageCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Last Occurred")</span>
                                <span class="text-secondary">@Model.MostCommonRepairRecordLastOccurred.ToShortDateString()</span>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.MostExpensiveRepairRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-warning-subtle">@translator.Translate(userLanguage, "Most Expensive")</span>
                        </div>
                        <span class="lead">@Model.MostExpensiveRepairRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Cost")</span>
                                <span class="text-success">@Model.MostExpensiveRepairRecordCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Date")</span>
                                <span class="text-secondary">@Model.MostExpensiveRepairRecordDate.ToShortDateString()</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Odometer")</span>
                                <span class="text-secondary">@Model.MostExpensiveRepairRecordOdometer</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if(Model.UpgradeRecordCount > 0)
{
    <div class="col-12 col-md-2 flex-grow-1 p-2">
        <div class="border rounded bg-secondary-subtle d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center p-2">
                <span class="lead">@translator.Translate(userLanguage, "Upgrades")</span>
                <div class="d-flex flex-wrap gap-2">
                    <div class="d-flex flex-column text-end">
                        <span>@Model.UpgradeRecordCount</span>
                        <small>@translator.Translate(userLanguage, "Records")</small>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <span class="text-success">@Model.UpgradeRecordCost.ToString("C0")</span>
                        <small>@translator.Translate(userLanguage, "Total Cost")</small>
                    </div>
                </div>
            </div>
            <hr />
            <div class="d-flex gap-2 flex-row p-2 flex-wrap">
                @if (!string.IsNullOrWhiteSpace(Model.MostCommonUpgradeRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-primary-subtle">@translator.Translate(userLanguage, "Most Common")</span>
                        </div>
                        <span class="lead">@Model.MostCommonUpgradeRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Occurrences")</span>
                                <span class="text-primary">@Model.MostCommonUpgradeRecordOccurrence</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Average Cost")</span>
                                <span class="text-success">@Model.MostCommonUpgradeRecordAverageCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Last Occurred")</span>
                                <span class="text-secondary">@Model.MostCommonUpgradeRecordLastOccurred.ToShortDateString()</span>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.MostExpensiveUpgradeRecord))
                {
                    <div class="d-flex flex-column p-2 border rounded flex-grow-1">
                        <div>
                            <span class="badge rounded-pill bg-warning-subtle">@translator.Translate(userLanguage, "Most Expensive")</span>
                        </div>
                        <span class="lead">@Model.MostExpensiveUpgradeRecord</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Cost")</span>
                                <span class="text-success">@Model.MostExpensiveUpgradeRecordCost.ToString("C0")</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Date")</span>
                                <span class="text-secondary">@Model.MostExpensiveUpgradeRecordDate.ToShortDateString()</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <span class="text-secondary">@translator.Translate(userLanguage, "Odometer")</span>
                                <span class="text-secondary">@Model.MostExpensiveUpgradeRecordOdometer</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}