@using CarCareTracker.Helper
@model List<VehicleInfo>
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@if (Model.Any())
{
    <div class="d-flex justify-content-between mt-1">
        <div class="d-flex gap-2 flex-grow-1">
            <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small class="text-success">@Model.Sum(x => x.ServiceRecordCost).ToString("C0")</small>
                <small>@translator.Translate(userLanguage, "Service")</small>
            </div>
            <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small class="text-success">@Model.Sum(x => x.RepairRecordCost).ToString("C0")</small>
                <small>@translator.Translate(userLanguage, "Repairs")</small>
            </div>
            <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small class="text-success">@Model.Sum(x => x.UpgradeRecordCost).ToString("C0")</small>
                <small>@translator.Translate(userLanguage, "Upgrades")</small>
            </div>
            <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small class="text-success">@Model.Sum(x => x.GasRecordCost).ToString("C0")</small>
                <small>@translator.Translate(userLanguage, "Fuel")</small>
            </div>
        </div>
        <div class="d-flex flex-grow-1">
        </div>
        <div class="d-flex gap-2 flex-grow-1">
            <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small>@Model.Sum(x => x.PastDueReminderCount)</small>
                <small>@translator.Translate(userLanguage, "Past Due")</small>
            </div>
            <div class="col-2 p-2 bg-danger-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small>@Model.Sum(x => x.VeryUrgentReminderCount)</small>
                <small>@translator.Translate(userLanguage, "Very Urgent")</small>
            </div>
            <div class="col-2 p-2 bg-warning-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small>@Model.Sum(x => x.UrgentReminderCount)</small>
                <small>@translator.Translate(userLanguage, "Urgent")</small>
            </div>
            <div class="col-2 p-2 bg-success-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                <small>@Model.Sum(x => x.NotUrgentReminderCount)</small>
                <small>@translator.Translate(userLanguage, "Not Urgent")</small>
            </div>
        </div>
    </div>
    <div class="row g-4 kiosk-content vehicleTabPane" data-masonry='{"percentPosition": true }'>
        @foreach (VehicleInfo vehicle in Model)
        {
            <div class="col-12 col-lg-4 p-2 kiosk-card-container">
                <div class="border rounded p-2 kiosk-card" data-vehicleId="@vehicle.VehicleData.Id" onclick="focusKioskVehicle(this)">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                            <span class="lead">@($"{vehicle.VehicleData.Year} {vehicle.VehicleData.Make} {vehicle.VehicleData.Model}")</span>
                            <small>@($"{StaticHelper.GetVehicleIdentifier(vehicle.VehicleData)}")</small>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link showOnExpand" onclick="showAllKioskVehicle(event)"><i class="bi bi-x-lg"></i></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-2 mt-2">
                        <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                            <p class="display-7 mb-0">@vehicle.ServiceRecordCount</p>
                            <p class="lead">@translator.Translate(userLanguage, "Service")</p>
                        </div>
                        <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                            <p class="display-7 mb-0">@vehicle.RepairRecordCount</p>
                            <p class="lead">@translator.Translate(userLanguage, "Repairs")</p>
                        </div>
                        <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                            <p class="display-7 mb-0">@vehicle.UpgradeRecordCount</p>
                            <p class="lead">@translator.Translate(userLanguage, "Upgrades")</p>
                        </div>
                        <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                            <p class="display-7 mb-0">@vehicle.GasRecordCount</p>
                            <p class="lead">@translator.Translate(userLanguage, "Fuel")</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-2 bg-secondary-subtle border rounded">
                        <div class="col-2 p-2 flex-grow-1 d-flex flex-column justify-content-center align-items-center text-break">
                            <p class="text-success mb-0">@vehicle.ServiceRecordCost.ToString("C0")</p>
                            <small>@translator.Translate(userLanguage, "Service")</small>
                        </div>
                        <div class="col-2 p-2 flex-grow-1 d-flex flex-column justify-content-center align-items-center text-break">
                            <p class="text-success mb-0">@vehicle.RepairRecordCost.ToString("C0")</p>
                            <small>@translator.Translate(userLanguage, "Repairs")</small>
                        </div>
                        <div class="col-2 p-2 flex-grow-1 d-flex flex-column justify-content-center align-items-center text-break">
                            <p class="text-success mb-0">@vehicle.UpgradeRecordCost.ToString("C0")</p>
                            <small>@translator.Translate(userLanguage, "Upgrades")</small>
                        </div>
                        <div class="col-2 p-2 flex-grow-1 d-flex flex-column justify-content-center align-items-center text-break">
                            <p class="text-success mb-0">@vehicle.GasRecordCost.ToString("C0")</p>
                            <small>@translator.Translate(userLanguage, "Fuel")</small>
                        </div>
                    </div>
                    @if (vehicle.PastDueReminderCount + vehicle.VeryUrgentReminderCount + vehicle.UrgentReminderCount + vehicle.NotUrgentReminderCount > 0)
                    {
                        <div class="d-flex flex-column mt-2 bg-secondary-subtle border rounded p-2">
                            <span class="lead">@translator.Translate(userLanguage, "Reminders")</span>
                            <div class="d-flex justify-content-between gap-2 mt-1">
                                <div class="col-2 p-2 bg-secondary-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                                    <p class="display-7 mb-0">@vehicle.PastDueReminderCount</p>
                                    <small>@translator.Translate(userLanguage, "Past Due")</small>
                                </div>
                                <div class="col-2 p-2 bg-danger-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                                    <p class="display-7 mb-0">@vehicle.VeryUrgentReminderCount</p>
                                    <small>@translator.Translate(userLanguage, "Very Urgent")</small>
                                </div>
                                <div class="col-2 p-2 bg-warning-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                                    <p class="display-7 mb-0">@vehicle.UrgentReminderCount</p>
                                    <small>@translator.Translate(userLanguage, "Urgent")</small>
                                </div>
                                <div class="col-2 p-2 bg-success-subtle flex-grow-1 d-flex flex-column border rounded justify-content-center align-items-center text-break">
                                    <p class="display-7 mb-0">@vehicle.NotUrgentReminderCount</p>
                                    <small>@translator.Translate(userLanguage, "Not Urgent")</small>
                                </div>
                            </div>
                        </div>
                    }
                    @if (vehicle.NextReminder != null)
                    {
                        <div class="d-flex mt-2 border rounded justify-content-between p-2 @(StaticHelper.GetReminderUrgencyColor(vehicle.NextReminder.Urgency))">
                            <div class="d-flex flex-column">
                                <span>@vehicle.NextReminder.Description</span>
                                <small class="text-truncate">@translator.Translate(userLanguage, StaticHelper.GetTitleCaseReminderUrgency(vehicle.NextReminder.Urgency))</small>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                @if (vehicle.NextReminder.Metric == "Date" || vehicle.NextReminder.Metric == "Both")
                                {
                                    <span><i class='bi bi-calendar-event me-2'></i>@vehicle.NextReminder.DueDate</span>
                                }
                                @if (vehicle.NextReminder.Metric == "Odometer" || vehicle.NextReminder.Metric == "Both")
                                {
                                    <span><i class='bi bi-speedometer me-2'></i>@vehicle.NextReminder.DueOdometer</span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="col-12 p-2 kiosk-card-details flex-grow-1" style="display:none;">
            <div class="border rounded p-2 d-flex flex-column">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-link" onclick="redirectToPlanner()">@translator.Translate(userLanguage, "Planner")<i class="bi ms-2 bi-box-arrow-up-right"></i></a>
                    <a class="btn btn-link" onclick="redirectToReminder()">@translator.Translate(userLanguage, "Reminders")<i class="bi ms-2 bi-box-arrow-up-right"></i></a>
                </div>
                <div class="kiosk-tab-content flex-grow-1 d-flex flex-wrap">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row no-data-message">
        <div class="col">
            <span class="display-3">@translator.Translate(userLanguage, "No records available to display")</span>
        </div>
    </div>
}
<script>
    function kioskLoadVehicleIdFromParam(){
        let currentParams = new URLSearchParams(window.location.search);
        let vehicleIdToLoad = currentParams.get('vehicleId');
        if (vehicleIdToLoad != null) {
             showKioskVehicle(vehicleIdToLoad);
        }
    }
    kioskLoadVehicleIdFromParam();
</script>